*.pt
*.pth

__pycache__/
.ipynb_checkpoints/
*/save/*
*/tensorboard/
!*/save
classification/
filtered_davis/
notable_results.txt
protT5/
regression/data/alphafold2
regression/data/*_molecule.pkl
regression/data/*/protein_graphs/

regression/data/davis_mostats.pkl
regression/data/davis_stats.pkl
regression/data/full_toxcast_mostats.pkl
regression/data/full_toxcast_stats.pkl
regression/data/kiba_mostats.pkl
regression/data/kiba_stats.pkl