*.pt
*.pth

__pycache__/
.ipynb_checkpoints/
*/save/*
*/tensorboard/
!*/save
classification/
filtered_davis/
notable_results.txt
protT5/
regression/data/alphafold2
regression/data/*_molecule.pkl
regression/data/*/protein_graphs/